.background-image {
    background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
    background-position: center;
    background-size: cover;
    height: 630px;
}

.background-image2 {
    min-height: 403px;
    margin-top: 2.6em;
    margin-left: 5em;
    width: 775px;
}

.titulo-primeira-section {
    letter-spacing: 10px;
    font-size: 8rem;
    margin: 35px auto 0;
    color: white;
}

.descricao-primeira-section {
    color: white;
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto 60px;
}

.background-color {
    background-image: linear-gradient(#1c2122, #748284);
    height: 465px;
}

.titulo-segunda-section {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 90px 0 0 20px;
    color: white;
    width: 9em;
    text-align: center;
    margin-left: 0em;
}

.descricao-segunda-section {
    margin: 25px 0 0 20px;
    color: white;
    margin-left: 0em;
    width: 23em;
}

.background-color2 {
    background-color: #748284;
    height: 511px;
}

.titulo-terceira-section {
    width: 734px;
    font-weight: 700;
    font-size: 2.25rem;
    margin: 57px auto 0;
}

.descricao-terceira-section {
    width: 544px;
    font-style: normal;
    margin: 20px auto 0;
}

@media (max-width: 320px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 425px;
    }

    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 3.5rem;
        margin: 65px auto 0;
        color: white;
    }

    .descricao-primeira-section {
        color: white;
        font-size: 0.9rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        width: 300px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 775px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 425px 0 0 20px;
        color: white;
        width: 10em;
        text-align: center;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 2em;
        width: 15em;
        text-align: center;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 500px;
    }

    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 4.5rem;
        margin: 60px auto 0;
        color: white;
    }

    .descricao-primeira-section {
        color: white;
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        width: 355px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 690px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 425px 0 0 20px;
        color: white;
        width: 12em;
        text-align: center;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 2em;
        width: 18em;
        text-align: center;
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 530px;
    }

    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 6rem;
        margin: 60px auto 0;
        color: white;
    }

    .descricao-primeira-section {
        color: white;
        font-size: 1.1rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        width: 409px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 690px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 425px 0 0 20px;
        color: white;
        width: 14em;
        text-align: center;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 2em;
        width: 23em;
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 6.5rem;
        margin: 70px auto 0;
        color: white;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        height: 323px;
        width: 465px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 465px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 90px 0 0 20px;
        color: white;
        width: 9em;
        text-align: center;
        margin-left: 3.7em;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 6.5em;
        width: 15em;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 630px;
    }
    
    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 8rem;
        margin: 35px auto 0;
        color: white;
    }
    
    .descricao-primeira-section {
        color: white;
        font-size: 1.25rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        min-height: 403px;
        margin-top: 2.6em;
        width: 620px;
        height: 400px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 465px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 2rem;
        margin: 90px 0 0 20px;
        color: white;
        width: 9em;
        text-align: center;
        margin-left: 0.3em;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 1.5em;
        width: 17em;
    }
}

@media (min-width: 1201px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 630px;
    }
    
    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 8rem;
        margin: 35px auto 0;
        color: white;
    }
    
    .descricao-primeira-section {
        color: white;
        font-size: 1.25rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {
        min-height: 403px;
        margin-top: 2.6em;
        margin-left: 5em;
        width: 775px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 465px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 2.25rem;
        margin: 90px 0 0 20px;
        color: white;
        width: 9em;
        text-align: center;
        margin-left: 0em;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 0em;
        width: 23em;
    }
}