.background-image {
    background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
    background-position: center;
    background-size: cover;
    height: 630px;
}

.background-image2 {
    min-height: 403px;
    margin-top: 2.6em;
    margin-left: 5em;
    width: 775px;
}

.background-color3 {
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
    background-position: center;
    background-size: cover;
    height: 568px;
}

.background-color4 {
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/bc48a0cb914d58289d18e4d9/pexelsphoto3806275.jpeg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.background-color5 {
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/fd12b1fdd8b25bdfb3eee767/pexelsphoto3806288.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 17em;
}

.titulo-primeira-section {
    letter-spacing: 10px;
    font-size: 8rem;
    margin: 35px auto 0;
    color: white;
}

.descricao-primeira-section {
    color: white;
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto 60px;
}

.background-color {
    background-image: linear-gradient(#1c2122, #748284);
    height: 465px;
}

.titulo-segunda-section {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 90px 0 0 20px;
    color: white;
    width: 9em;
    text-align: center;
    margin-left: 0em;
}

.descricao-segunda-section {
    margin: 25px 0 0 20px;
    color: white;
    margin-left: 0em;
    width: 23em;
}

.background-color2 {
    background-color: #748284;
    height: 511px;
}

.titulo-terceira-section {
    width: 734px;
    font-weight: 700;
    font-size: 2.25rem;
    margin: 57px auto 0;
    color: white;
}

.descricao-terceira-section {
    color: white;
    width: 33em;
    margin-left: 28em;
    padding-top: 1em;
}

.icones-terceira-section {
    font-size: 90px;
    color: white;
    padding-top: 30px;
}

.descricao-icones {
    font-size: 1.25rem;
    margin: 20px 0 0;
    color: white;
    width: 15em;
    margin-left: 4em;
}

.height-568 {
    height: 568px;
}

.color-quarta-section {
    color: #ffffff;
    background-color: #1c2122;
    height: 568px;
}

.titulo-quarta-section {
    font-size: 2.25rem;
    letter-spacing: 0;
    line-height: 1;
    font-weight: 700;
    text-transform: none;
    font-family: Lato, sans-serif;
    margin: 0 4px 0 0;
    text-align: center;
    width: 6em;
    margin-left: 7.5em;
    margin-top: 5em;
}

.descricao-quarta-section {
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: none;
    margin: 20px 1px 0;
    width: 31em;
    margin-left: 5.5em;
    text-align: center;
    padding-top: 1em;
}

.botao-quarta-section {
    color: white;
    background-color: transparent;
    margin-left: 19em;
    margin-top: 2em;
    width: 10em;
    height: 3em;
    letter-spacing: 2px;
    font-weight: 300;
    border: 2px solid white;
}

.botao-quarta-section:hover {
    color: white !important;
    background-color: red;
    border: 2px solid red;
    font-weight: 400;
}

.color-quinta-section {
    background-color: #1c2122;
    height: 240px;
}

.color2-quinta-section {
    background-color: white;
    height: 240px;
}

.titulo-quinta-section {
    font-size: 1.875rem;
    font-weight: 400;
    margin: 50px 0 0;
    color: white;
}

.descricao-quinta-section {
    font-style: normal;
    margin: 20px 0 0;
    color: white;
}

.titulo2-quinta-section {
    font-size: 1.875rem;
    font-weight: 400;
    margin: 50px 0 0;
}

.descricao2-quinta-section {
    font-style: normal;
    margin: 20px 0 0;
}

.margin-top-30 {
    margin-top: 30em;
}

@media (max-width: 320px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 425px;
    }

    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 3.5rem;
        margin: 65px auto 0;
        color: white;
    }

    .descricao-primeira-section {
        color: white;
        font-size: 0.9rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        width: 300px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 775px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 425px 0 0 20px;
        color: white;
        width: 10em;
        text-align: center;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 2em;
        width: 15em;
        text-align: center;
    }

    .background-color2 {
        background-color: #748284;
        height: 760px;
    }
    
    .titulo-terceira-section {
        width: 303px;
        font-weight: 700;
        font-size: 2rem;
        margin: 57px auto 0;
        color: white;
    }
    
    .descricao-terceira-section {
        color: white;
        width: 18em;
        margin-left: 0.5em;
        padding-top: 1em;
    }
    
    .icones-terceira-section {
        font-size: 60px;
        color: white;
        padding-top: 30px;
    }
    
    .descricao-icones {
        font-size: 1.1rem;
        margin: 20px 0 0;
        color: white;
        width: 15em;
        margin-left: 1.5em;
    }

    .background-color3 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
        background-position: center;
        background-size: cover;
        height: 568px;
    }
    
    .height-568 {
        height: 568px;
    }
    
    .color-quarta-section {
        color: #ffffff;
        background-color: #1c2122;
        height: 568px;
    }
    
    .titulo-quarta-section {
        font-size: 2.25rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 700;
        text-transform: none;
        font-family: Lato, sans-serif;
        margin: 0 4px 0 0;
        text-align: center;
        width: 6em;
        margin-left: 1em;
        margin-top: 5em;
    }
    
    .descricao-quarta-section {
        font-size: 1.125rem;
        letter-spacing: 0;
        font-weight: 400;
        text-transform: none;
        margin: 20px 1px 0;
        width: 16em;
        margin-left: 0.3em;
        text-align: center;
        padding-top: 1em;
    }
    
    .botao-quarta-section {
        color: white;
        background-color: transparent;
        margin-left: 4.5em;
        margin-top: 2em;
        width: 10em;
        height: 3em;
        letter-spacing: 2px;
        font-weight: 300;
        border: 2px solid white;
    }
    
    .botao-quarta-section:hover {
        color: white !important;
        background-color: red;
        border: 2px solid red;
        font-weight: 400;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 500px;
    }

    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 4.5rem;
        margin: 60px auto 0;
        color: white;
    }

    .descricao-primeira-section {
        color: white;
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        width: 355px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 690px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 425px 0 0 20px;
        color: white;
        width: 12em;
        text-align: center;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 2em;
        width: 18em;
        text-align: center;
    }

    .background-color2 {
        background-color: #748284;
        height: 860px;
    }
    
    .titulo-terceira-section {
        width: 355px;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 57px auto 0;    
        color: white;
    }
    
    .descricao-terceira-section {
        color: white;
        width: 18em;
        margin-left: 2.5em;
        padding-top: 1em;
    }
    
    .icones-terceira-section {
        font-size: 70px;
        color: white;
        padding-top: 30px;
    }
    
    .descricao-icones {
        font-size: 1.25rem;
        margin: 20px 0 0;
        color: white;
        width: 15em;
        margin-left: 1.5em;
    }

    .background-color3 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
        background-position: center;
        background-size: cover;
        height: 568px;
    }
    
    .height-568 {
        height: 568px;
    }
    
    .color-quarta-section {
        color: #ffffff;
        background-color: #1c2122;
        height: 568px;
    }
    
    .titulo-quarta-section {
        font-size: 2.25rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 700;
        text-transform: none;
        font-family: Lato, sans-serif;
        margin: 0 4px 0 0;
        text-align: center;
        width: 6em;
        margin-left: 2em;
        margin-top: 5em;
    }
    
    .descricao-quarta-section {
        font-size: 1.125rem;
        letter-spacing: 0;
        font-weight: 400;
        text-transform: none;
        margin: 20px 1px 0;
        width: 16em;
        margin-left: 2.3em;
        text-align: center;
        padding-top: 1em;
    }
    
    .botao-quarta-section {
        color: white;
        background-color: transparent;
        margin-left: 7em;
        margin-top: 2em;
        width: 10em;
        height: 3em;
        letter-spacing: 2px;
        font-weight: 300;
        border: 2px solid white;
    }
    
    .botao-quarta-section:hover {
        color: white !important;
        background-color: red;
        border: 2px solid red;
        font-weight: 400;
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 530px;
    }

    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 6rem;
        margin: 60px auto 0;
        color: white;
    }

    .descricao-primeira-section {
        color: white;
        font-size: 1.1rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        width: 409px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 690px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 425px 0 0 20px;
        color: white;
        width: 14em;
        text-align: center;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 2em;
        width: 23em;
        text-align: center;
    }

    .background-color2 {
        background-color: #748284;
        height: 860px;
    }
    
    .titulo-terceira-section {
        width: 400px;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 57px auto 0;
        color: white;
    }
    
    .descricao-terceira-section {
        color: white;
        width: 18em;
        margin-left: 3.5em;
        padding-top: 1em;
    }
    
    .icones-terceira-section {
        font-size: 80px;
        color: white;
        padding-top: 30px;
    }
    
    .descricao-icones {
        font-size: 1.25rem;
        margin: 20px 0 0;
        color: white;
        width: 15em;
        margin-left: 2.5em;
    }

    .background-color3 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
        background-position: center;
        background-size: cover;
        height: 568px;
    }
    
    .height-568 {
        height: 568px;
    }
    
    .color-quarta-section {
        color: #ffffff;
        background-color: #1c2122;
        height: 568px;
    }
    
    .titulo-quarta-section {
        font-size: 2.25rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 700;
        text-transform: none;
        font-family: Lato, sans-serif;
        margin: 0 4px 0 0;
        text-align: center;
        width: 6em;
        margin-left: 2.5em;
        margin-top: 5em;
    }
    
    .descricao-quarta-section {
        font-size: 1.125rem;
        letter-spacing: 0;
        font-weight: 400;
        text-transform: none;
        margin: 20px 1px 0;
        width: 16em;
        margin-left: 3.3em;
        text-align: center;
        padding-top: 1em;
    }
    
    .botao-quarta-section {
        color: white;
        background-color: transparent;
        margin-left: 8em;
        margin-top: 2em;
        width: 10em;
        height: 3em;
        letter-spacing: 2px;
        font-weight: 300;
        border: 2px solid white;
    }
    
    .botao-quarta-section:hover {
        color: white !important;
        background-color: red;
        border: 2px solid red;
        font-weight: 400;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 6.5rem;
        margin: 70px auto 0;
        color: white;
    }

    .background-image2 {  
        position: absolute;
        left: -4em;
        height: 323px;
        width: 465px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 465px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 1.7rem;
        margin: 90px 0 0 20px;
        color: white;
        width: 9em;
        text-align: center;
        margin-left: 3.7em;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 6.5em;
        width: 15em;
    }

    .background-color2 {
        background-color: #748284;
        height: 860px;
    }
    
    .titulo-terceira-section {
        width: 734px;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 57px auto 0;
        color: white;
    }
    
    .descricao-terceira-section {
        color: white;
        width: 33em;
        margin-left: 7em;
        padding-top: 1em;
    }
    
    .icones-terceira-section {
        font-size: 90px;
        color: white;
        padding-top: 30px;
    }
    
    .descricao-icones {
        font-size: 1.25rem;
        margin: 20px 0 0;
        color: white;
        width: 15em;
        margin-left: 11.3em;
    }

    .background-color3 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
        background-position: center;
        background-size: cover;
        height: 568px;
    }
    
    .height-568 {
        height: 568px;
    }
    
    .color-quarta-section {
        color: #ffffff;
        background-color: #1c2122;
        height: 568px;
    }
    
    .titulo-quarta-section {
        font-size: 2.25rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 700;
        text-transform: none;
        font-family: Lato, sans-serif;
        margin: 0 4px 0 0;
        text-align: center;
        width: 11em;
        margin-left: 5em;
        margin-top: 5em;
    }
    
    .descricao-quarta-section {
        font-size: 1.125rem;
        letter-spacing: 0;
        font-weight: 400;
        text-transform: none;
        margin: 20px 1px 0;
        width: 31em;
        margin-left: 5.3em;
        text-align: center;
        padding-top: 1em;
    }
    
    .botao-quarta-section {
        color: white;
        background-color: transparent;
        margin-left: 18.5em;
        margin-top: 2em;
        width: 10em;
        height: 3em;
        letter-spacing: 2px;
        font-weight: 300;
        border: 2px solid white;
    }
    
    .botao-quarta-section:hover {
        color: white !important;
        background-color: red;
        border: 2px solid red;
        font-weight: 400;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 630px;
    }
    
    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 8rem;
        margin: 35px auto 0;
        color: white;
    }
    
    .descricao-primeira-section {
        color: white;
        font-size: 1.25rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {  
        min-height: 403px;
        margin-top: 2.6em;
        width: 620px;
        height: 400px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 465px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 2rem;
        margin: 90px 0 0 20px;
        color: white;
        width: 9em;
        text-align: center;
        margin-left: 0.3em;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 1.5em;
        width: 17em;
    }

    .background-color2 {
        background-color: #748284;
        height: 511px;
    }
    
    .titulo-terceira-section {
        width: 734px;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 57px auto 0;
        color: white;
    }
    
    .descricao-terceira-section {
        color: white;
        width: 33em;
        margin-left: 14em;
        padding-top: 1em;
    }
    
    .icones-terceira-section {
        font-size: 90px;
        color: white;
        padding-top: 30px;
    }
    
    .descricao-icones {
        font-size: 1.25rem;
        margin: 20px 0 0;
        color: white;
        width: 15em;
        margin-left: 0em;
    }

    .background-color3 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
        background-position: center;
        background-size: cover;
        height: 568px;
    }
    
    .height-568 {
        height: 568px;
    }
    
    .color-quarta-section {
        color: #ffffff;
        background-color: #1c2122;
        height: 568px;
    }
    
    .titulo-quarta-section {
        font-size: 2.25rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 700;
        text-transform: none;
        font-family: Lato, sans-serif;
        margin: 0 4px 0 0;
        text-align: center;
        width: 6em;
        margin-left: 5em;
        margin-top: 5em;
    }
    
    .descricao-quarta-section {
        font-size: 1.125rem;
        letter-spacing: 0;
        font-weight: 400;
        text-transform: none;
        margin: 20px 1px 0;
        width: 31em;
        margin-left: 0.3em;
        text-align: center;
        padding-top: 1em;
    }
    
    .botao-quarta-section {
        color: white;
        background-color: transparent;
        margin-left: 13em;
        margin-top: 2em;
        width: 10em;
        height: 3em;
        letter-spacing: 2px;
        font-weight: 300;
        border: 2px solid white;
    }
    
    .botao-quarta-section:hover {
        color: white !important;
        background-color: red;
        border: 2px solid red;
        font-weight: 400;
    }
}

@media (min-width: 1201px) {
    .background-image {
        background-image: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
        background-position: center;
        background-size: cover;
        height: 630px;
    }
    
    .titulo-primeira-section {
        letter-spacing: 10px;
        font-size: 8rem;
        margin: 35px auto 0;
        color: white;
    }
    
    .descricao-primeira-section {
        color: white;
        font-size: 1.25rem;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto 60px;
    }

    .background-image2 {
        min-height: 403px;
        margin-top: 2.6em;
        margin-left: 5em;
        width: 775px;
    }

    .background-color {
        background-image: linear-gradient(#1c2122, #748284);
        height: 465px;
    }
    
    .titulo-segunda-section {
        font-weight: 700;
        font-size: 2.25rem;
        margin: 90px 0 0 20px;
        color: white;
        width: 9em;
        text-align: center;
        margin-left: 0em;
    }
    
    .descricao-segunda-section {
        margin: 25px 0 0 20px;
        color: white;
        margin-left: 0em;
        width: 23em;
    }

    .background-color2 {
        background-color: #748284;
        height: 511px;
    }
    
    .titulo-terceira-section {
        width: 734px;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 57px auto 0;
        color: white;
    }
    
    .descricao-terceira-section {
        color: white;
        width: 33em;
        margin-left: 28em;
        padding-top: 1em;
    }
    
    .icones-terceira-section {
        font-size: 90px;
        color: white;
        padding-top: 30px;
    }
    
    .descricao-icones {
        font-size: 1.25rem;
        margin: 20px 0 0;
        color: white;
        width: 15em;
        margin-left: 4em;
    }

    .background-color3 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
        background-position: center;
        background-size: cover;
        height: 568px;
    }
    
    .height-568 {
        height: 568px;
    }
    
    .color-quarta-section {
        color: #ffffff;
        background-color: #1c2122;
        height: 568px;
    }
    
    .titulo-quarta-section {
        font-size: 2.25rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 700;
        text-transform: none;
        font-family: Lato, sans-serif;
        margin: 0 4px 0 0;
        text-align: center;
        width: 6em;
        margin-left: 7.5em;
        margin-top: 5em;
    }
    
    .descricao-quarta-section {
        font-size: 1.125rem;
        letter-spacing: 0;
        font-weight: 400;
        text-transform: none;
        margin: 20px 1px 0;
        width: 31em;
        margin-left: 5.5em;
        text-align: center;
        padding-top: 1em;
    }
    
    .botao-quarta-section {
        color: white;
        background-color: transparent;
        margin-left: 19em;
        margin-top: 2em;
        width: 10em;
        height: 3em;
        letter-spacing: 2px;
        font-weight: 300;
        border: 2px solid white;
    }
    
    .botao-quarta-section:hover {
        color: white !important;
        background-color: red;
        border: 2px solid red;
        font-weight: 400;
    }

    .background-color4 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/bc48a0cb914d58289d18e4d9/pexelsphoto3806275.jpeg);
        background-position: center;
        background-size: cover;
        height: 600px;
    }

    .background-color5 {
        background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/fd12b1fdd8b25bdfb3eee767/pexelsphoto3806288.jpeg);
        background-position: center;
        background-size: cover;
        margin-top: 17em;
    }
}